n8n/workflow.json
{
  "name": "ATS Resume Optimizer - Full Pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "resume-optimizer",
        "responseMode": "responseNode",
        "options": {
          "rawBody": false
        }
      },
      "id": "node-webhook",
      "name": "Webhook - Receive Resume & JD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "resume-optimizer"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "node-extract",
      "name": "Extract Text from Resume",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [440, 400]
    },
    {
      "parameters": {
        "jsCode": "// Prepare data for the pipeline\nconst resumeText = $input.first().json.data || $input.first().json.text || '';\nconst jobDescription = $('Webhook - Receive Resume & JD').first().json.body?.job_description || '';\n\nreturn [{\n  json: {\n    resume_text: resumeText,\n    job_description: jobDescription\n  }\n}];"
      },
      "id": "node-prepare",
      "name": "Prepare Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an ATS job description analyzer. You MUST respond ONLY with valid JSON — no markdown, no backticks, no extra text."
            },
            {
              "role": "user",
              "content": "=Analyze the following job description and extract:\n\n1. Top 5 critical hard skills\n2. Top 3 important soft skills\n3. Required certifications or qualifications\n4. Industry-specific terminology\n5. Important action verbs used by employers\n6. Key tools, technologies, or frameworks\n7. Important job titles or role variations\n\nAlso calculate keyword frequency and rank them by importance.\n\nRespond in this EXACT JSON format:\n{\n  \"hard_skills\": [\n    {\"skill\": \"skill name\", \"frequency_score\": 5}\n  ],\n  \"soft_skills\": [\"skill1\", \"skill2\", \"skill3\"],\n  \"certifications\": [\"cert1\"],\n  \"tools_tech\": [\"tool1\", \"tool2\"],\n  \"industry_terms\": [\"term1\", \"term2\"],\n  \"action_verbs\": [\"verb1\", \"verb2\"],\n  \"job_title_variations\": [\"title1\", \"title2\"],\n  \"all_keywords_ranked\": [\n    {\"keyword\": \"keyword\", \"importance\": \"critical|high|medium\", \"frequency\": 3}\n  ]\n}\n\nJob Description:\n{{ $json.job_description }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 2000
        }
      },
      "id": "node-stage1",
      "name": "Stage 1 - JD Analyzer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [920, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stage 1 results\nconst prepData = $('Prepare Data').first().json;\nconst aiResponse = $input.first().json?.message?.content\n  || $input.first().json?.text\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '{}';\n\nlet stage1 = {};\ntry {\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  stage1 = JSON.parse(cleaned);\n} catch (e) {\n  stage1 = {\n    hard_skills: [],\n    soft_skills: [],\n    certifications: [],\n    tools_tech: [],\n    industry_terms: [],\n    action_verbs: [],\n    job_title_variations: [],\n    all_keywords_ranked: []\n  };\n}\n\n// Collect all keywords for Stage 2\nconst allKeywords = [\n  ...(stage1.hard_skills || []).map(s => typeof s === 'string' ? s : s.skill),\n  ...(stage1.soft_skills || []),\n  ...(stage1.tools_tech || []),\n  ...(stage1.industry_terms || [])\n].filter(Boolean);\n\nreturn [{\n  json: {\n    ...prepData,\n    stage1_results: stage1,\n    extracted_keywords: allKeywords\n  }\n}];"
      },
      "id": "node-parse1",
      "name": "Parse Stage 1 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1160, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an ATS semantic keyword optimizer. You MUST respond ONLY with valid JSON — no markdown, no backticks, no extra text."
            },
            {
              "role": "user",
              "content": "=For each keyword provided, generate semantic variations and synonyms commonly recognized by ATS (Applicant Tracking Systems).\n\nRules:\n- Provide 3-6 variations per keyword\n- Include industry terminology if applicable\n- Keep them resume-friendly\n- Include abbreviations, acronyms, and alternative phrasings\n\nRespond in this EXACT JSON format:\n{\n  \"keyword_variations\": {\n    \"keyword1\": [\"variation1\", \"variation2\", \"variation3\"],\n    \"keyword2\": [\"variation1\", \"variation2\", \"variation3\"]\n  }\n}\n\nKeywords:\n{{ $json.extracted_keywords.join(', ') }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 2000
        }
      },
      "id": "node-stage2",
      "name": "Stage 2 - Synonym Generator",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [1400, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stage 2 results\nconst prevData = $('Parse Stage 1 Results').first().json;\nconst aiResponse = $input.first().json?.message?.content\n  || $input.first().json?.text\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '{}';\n\nlet stage2 = {};\ntry {\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  stage2 = JSON.parse(cleaned);\n} catch (e) {\n  stage2 = { keyword_variations: {} };\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    stage2_results: stage2\n  }\n}];"
      },
      "id": "node-parse2",
      "name": "Parse Stage 2 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1640, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an Applicant Tracking System (ATS) simulator. You MUST respond ONLY with valid JSON — no markdown, no backticks, no extra text."
            },
            {
              "role": "user",
              "content": "=Compare the candidate's resume with the job description.\n\nEvaluate:\n1. Keyword match percentage\n2. Skills match (hard and soft)\n3. Experience alignment\n4. Missing required skills\n5. ATS formatting compatibility (check for tables, images, headers, columns, fancy fonts)\n6. Job title relevance\n7. Industry terminology match\n\nAlso consider these semantic variations when checking for keyword matches — if the resume uses a synonym/variation of a JD keyword, count it as a partial match:\n{{ JSON.stringify($json.stage2_results.keyword_variations || {}) }}\n\nJob Description Analysis from Stage 1:\n{{ JSON.stringify($json.stage1_results) }}\n\nRespond in this EXACT JSON format:\n{\n  \"ats_score\": 75,\n  \"keyword_match_pct\": 65,\n  \"skills_match_pct\": 70,\n  \"experience_alignment_pct\": 80,\n  \"matched_keywords\": [\"keyword1\", \"keyword2\"],\n  \"missing_keywords\": [\"keyword1\", \"keyword2\"],\n  \"partial_matches\": [\n    {\"jd_keyword\": \"project management\", \"resume_variation\": \"managed projects\", \"match_strength\": \"partial\"}\n  ],\n  \"skill_gaps\": [\n    {\"skill\": \"skill name\", \"importance\": \"critical|high|medium\", \"suggestion\": \"how to address\"}\n  ],\n  \"format_issues\": [\"issue1\", \"issue2\"],\n  \"job_title_relevance\": \"high|medium|low\",\n  \"improvement_suggestions\": [\"suggestion1\", \"suggestion2\"]\n}\n\nJOB DESCRIPTION:\n{{ $json.job_description }}\n\nRESUME:\n{{ $json.resume_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.2,
          "maxTokens": 3000
        }
      },
      "id": "node-stage3",
      "name": "Stage 3 - ATS Match Scorer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [1880, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stage 3 results\nconst prevData = $('Parse Stage 2 Results').first().json;\nconst aiResponse = $input.first().json?.message?.content\n  || $input.first().json?.text\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '{}';\n\nlet stage3 = {};\ntry {\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  stage3 = JSON.parse(cleaned);\n} catch (e) {\n  stage3 = {\n    ats_score: 0,\n    matched_keywords: [],\n    missing_keywords: [],\n    skill_gaps: [],\n    format_issues: [],\n    improvement_suggestions: []\n  };\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    stage3_results: stage3\n  }\n}];"
      },
      "id": "node-parse3",
      "name": "Parse Stage 3 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2120, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a professional ATS resume optimizer specializing in rewriting resume bullet points. You MUST respond ONLY with valid JSON — no markdown, no backticks, no extra text."
            },
            {
              "role": "user",
              "content": "=Rewrite and optimize the resume bullet points so they:\n\n1. Include important keywords from the job description (especially missing ones)\n2. Use strong action verbs from the JD analysis\n3. Follow accomplishment-based structure (Action Verb + Task + Result)\n4. Include measurable results where possible (numbers, percentages, dollar amounts)\n5. Are concise but keyword-rich\n\nRules:\n- Do NOT fabricate experience — only enhance existing content\n- Maintain truthful representation\n- Naturally weave in missing keywords where they genuinely apply\n- Each bullet should be 1-2 lines max\n\nMissing Keywords to incorporate:\n{{ JSON.stringify($json.stage3_results.missing_keywords || []) }}\n\nAction Verbs from JD:\n{{ JSON.stringify($json.stage1_results.action_verbs || []) }}\n\nSkill Gaps to address:\n{{ JSON.stringify($json.stage3_results.skill_gaps || []) }}\n\nRespond in this EXACT JSON format:\n{\n  \"optimized_bullets\": [\n    {\n      \"original\": \"original bullet text from resume\",\n      \"improved\": \"optimized bullet text\",\n      \"keywords_added\": [\"keyword1\", \"keyword2\"],\n      \"improvement_notes\": \"what was improved and why\"\n    }\n  ],\n  \"new_bullets_suggested\": [\n    {\n      \"bullet\": \"suggested new bullet point\",\n      \"reason\": \"why this should be added\",\n      \"keywords_covered\": [\"keyword1\"]\n    }\n  ]\n}\n\nJOB DESCRIPTION:\n{{ $json.job_description }}\n\nRESUME:\n{{ $json.resume_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.4,
          "maxTokens": 3000
        }
      },
      "id": "node-stage4",
      "name": "Stage 4 - Bullet Optimizer",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [2360, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stage 4 results\nconst prevData = $('Parse Stage 3 Results').first().json;\nconst aiResponse = $input.first().json?.message?.content\n  || $input.first().json?.text\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '{}';\n\nlet stage4 = {};\ntry {\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  stage4 = JSON.parse(cleaned);\n} catch (e) {\n  stage4 = {\n    optimized_bullets: [],\n    new_bullets_suggested: []\n  };\n}\n\nreturn [{\n  json: {\n    ...prevData,\n    stage4_results: stage4\n  }\n}];"
      },
      "id": "node-parse4",
      "name": "Parse Stage 4 Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2600, 400]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a senior ATS resume consultant providing a final comprehensive optimization plan. You MUST respond ONLY with valid JSON — no markdown, no backticks, no extra text."
            },
            {
              "role": "user",
              "content": "=Using all previous analysis stages, generate a FINAL ATS optimization plan.\n\nPrevious Analysis:\n- JD Analysis: {{ JSON.stringify($json.stage1_results) }}\n- Keyword Variations: {{ JSON.stringify($json.stage2_results) }}\n- ATS Match Score: {{ JSON.stringify($json.stage3_results) }}\n- Bullet Optimizations: {{ JSON.stringify($json.stage4_results) }}\n\nProvide:\n1. Overall ATS readiness score (0-100)\n2. Top 10 keywords to add to the resume\n3. Resume sections needing improvement\n4. A suggested professional summary tailored to the JD\n5. Skills section improvements\n6. Experience bullet improvements (use Stage 4 results)\n7. Formatting recommendations\n8. Final priority action items\n\nRespond in this EXACT JSON format:\n{\n  \"ats_readiness_score\": 75,\n  \"score_breakdown\": {\n    \"keyword_match\": 70,\n    \"skills_alignment\": 75,\n    \"experience_relevance\": 80,\n    \"formatting\": 90,\n    \"overall_impression\": 75\n  },\n  \"top_keywords_to_add\": [\n    {\"keyword\": \"keyword\", \"priority\": \"critical|high|medium\", \"where_to_add\": \"skills|summary|experience\"}\n  ],\n  \"sections_to_improve\": [\n    {\"section\": \"section name\", \"current_grade\": \"A|B|C|D|F\", \"issues\": [\"issue1\"], \"fixes\": [\"fix1\"]}\n  ],\n  \"optimized_summary\": \"A 3-4 sentence professional summary tailored to the job description\",\n  \"skills_section_fix\": {\n    \"add_skills\": [\"skill1\", \"skill2\"],\n    \"remove_skills\": [\"irrelevant skill\"],\n    \"reorder_suggestion\": \"Put most relevant skills first\",\n    \"suggested_categories\": [\n      {\"category\": \"Technical Skills\", \"skills\": [\"skill1\", \"skill2\"]},\n      {\"category\": \"Tools & Platforms\", \"skills\": [\"tool1\", \"tool2\"]}\n    ]\n  },\n  \"experience_fixes\": [\n    {\n      \"original\": \"original bullet\",\n      \"improved\": \"improved bullet\",\n      \"keywords_added\": [\"kw1\"]\n    }\n  ],\n  \"formatting_recommendations\": [\"rec1\", \"rec2\"],\n  \"final_action_items\": [\n    {\"priority\": 1, \"action\": \"Most important thing to do\", \"impact\": \"high|medium|low\"}\n  ]\n}\n\nJOB DESCRIPTION:\n{{ $json.job_description }}\n\nRESUME:\n{{ $json.resume_text }}"
            }
          ]
        },
        "options": {
          "temperature": 0.3,
          "maxTokens": 4000
        }
      },
      "id": "node-stage5",
      "name": "Stage 5 - Final Optimization Plan",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.8,
      "position": [2840, 400],
      "credentials": {
        "openAiApi": {
          "id": "REPLACE_WITH_YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse Stage 5 and compile FINAL response for the frontend\nconst prevData = $('Parse Stage 4 Results').first().json;\nconst aiResponse = $input.first().json?.message?.content\n  || $input.first().json?.text\n  || $input.first().json?.choices?.[0]?.message?.content\n  || '{}';\n\nlet stage5 = {};\ntry {\n  const cleaned = aiResponse.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  stage5 = JSON.parse(cleaned);\n} catch (e) {\n  stage5 = {\n    ats_readiness_score: prevData.stage3_results?.ats_score || 50,\n    score_breakdown: {},\n    top_keywords_to_add: [],\n    sections_to_improve: [],\n    optimized_summary: '',\n    skills_section_fix: {},\n    experience_fixes: [],\n    formatting_recommendations: [],\n    final_action_items: []\n  };\n}\n\n// Build the final response matching the frontend's expected format\nconst stage3 = prevData.stage3_results || {};\nconst stage1 = prevData.stage1_results || {};\nconst stage4 = prevData.stage4_results || {};\n\n// Compile suggestions from all stages\nconst allSuggestions = [];\n\n// From Stage 5 action items\nif (stage5.final_action_items) {\n  stage5.final_action_items.forEach(item => {\n    allSuggestions.push(item.action);\n  });\n}\n\n// From Stage 3 improvement suggestions\nif (stage3.improvement_suggestions) {\n  stage3.improvement_suggestions.forEach(s => {\n    if (!allSuggestions.includes(s)) allSuggestions.push(s);\n  });\n}\n\n// Compile matched keywords (capitalize first letter)\nconst formatKw = (kw) => typeof kw === 'string' ? kw.charAt(0).toUpperCase() + kw.slice(1) : kw;\n\nconst finalResponse = {\n  // === BASIC SCORES (frontend compatible) ===\n  score: stage5.ats_readiness_score || stage3.ats_score || 0,\n  matched_keywords: (stage3.matched_keywords || []).map(formatKw),\n  missing_keywords: (stage3.missing_keywords || []).map(formatKw),\n  suggestions: allSuggestions.slice(0, 10),\n  optimized_resume_url: null,\n\n  // === DETAILED ANALYSIS (extended data) ===\n  score_breakdown: stage5.score_breakdown || {},\n  \n  // Stage 1: JD Analysis\n  jd_analysis: {\n    hard_skills: stage1.hard_skills || [],\n    soft_skills: stage1.soft_skills || [],\n    certifications: stage1.certifications || [],\n    tools_tech: stage1.tools_tech || [],\n    industry_terms: stage1.industry_terms || [],\n    action_verbs: stage1.action_verbs || [],\n    job_title_variations: stage1.job_title_variations || [],\n    all_keywords_ranked: stage1.all_keywords_ranked || []\n  },\n\n  // Stage 2: Keyword Variations\n  keyword_variations: prevData.stage2_results?.keyword_variations || {},\n\n  // Stage 3: ATS Match Details\n  ats_details: {\n    keyword_match_pct: stage3.keyword_match_pct || 0,\n    skills_match_pct: stage3.skills_match_pct || 0,\n    experience_alignment_pct: stage3.experience_alignment_pct || 0,\n    partial_matches: stage3.partial_matches || [],\n    skill_gaps: stage3.skill_gaps || [],\n    format_issues: stage3.format_issues || [],\n    job_title_relevance: stage3.job_title_relevance || 'unknown'\n  },\n\n  // Stage 4: Optimized Bullets\n  optimized_bullets: stage4.optimized_bullets || [],\n  new_bullets_suggested: stage4.new_bullets_suggested || [],\n\n  // Stage 5: Final Plan\n  optimization_plan: {\n    top_keywords_to_add: stage5.top_keywords_to_add || [],\n    sections_to_improve: stage5.sections_to_improve || [],\n    optimized_summary: stage5.optimized_summary || '',\n    skills_section_fix: stage5.skills_section_fix || {},\n    experience_fixes: stage5.experience_fixes || [],\n    formatting_recommendations: stage5.formatting_recommendations || [],\n    final_action_items: stage5.final_action_items || []\n  }\n};\n\nreturn [{ json: finalResponse }];"
      },
      "id": "node-compile-final",
      "name": "Compile Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3080, 400]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        },
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}"
      },
      "id": "node-respond",
      "name": "Send Results to Frontend",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [3320, 400]
    }
  ],
  "connections": {
    "Webhook - Receive Resume & JD": {
      "main": [
        [
          {
            "node": "Extract Text from Resume",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text from Resume": {
      "main": [
        [
          {
            "node": "Prepare Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Data": {
      "main": [
        [
          {
            "node": "Stage 1 - JD Analyzer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1 - JD Analyzer": {
      "main": [
        [
          {
            "node": "Parse Stage 1 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stage 1 Results": {
      "main": [
        [
          {
            "node": "Stage 2 - Synonym Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2 - Synonym Generator": {
      "main": [
        [
          {
            "node": "Parse Stage 2 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stage 2 Results": {
      "main": [
        [
          {
            "node": "Stage 3 - ATS Match Scorer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 3 - ATS Match Scorer": {
      "main": [
        [
          {
            "node": "Parse Stage 3 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stage 3 Results": {
      "main": [
        [
          {
            "node": "Stage 4 - Bullet Optimizer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 4 - Bullet Optimizer": {
      "main": [
        [
          {
            "node": "Parse Stage 4 Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Stage 4 Results": {
      "main": [
        [
          {
            "node": "Stage 5 - Final Optimization Plan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 5 - Final Optimization Plan": {
      "main": [
        [
          {
            "node": "Compile Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Final Response": {
      "main": [
        [
          {
            "node": "Send Results to Frontend",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Resume",
      "id": "1"
    },
    {
      "name": "ATS",
      "id": "2"
    },
    {
      "name": "AI Pipeline",
      "id": "3"
    }
  ]
}
